*{
    margin:0;
    padding: 0;
    border:0;
    box-sizing: border-box;
    outline: none;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0e5d8a;
    background-size: cover;
}
.form{
    display: grid;
    text-align: center;
    width: 400px;
    border: 2px solid black;
    height: 400px;
    font-size: 1rem;
    border-radius: 10px;
}
.label{
    font-size: 1.2rem;
}
.title{
    width: 390px;
    height: 30px;
    font-size: 1.2rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
}
.description{
    width: 390px;
    height: 30px;
    font-size: 1.2rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
}
.status{
    width: 390px;
    height: 30px;
    font-size: 1.2rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
}
.buttonCreate{
    border-radius: 10px;
    border: 1px solid black;
    background-color: #fff;
    color: black;
    margin: 5px;
}
.buttonCreate:hover{
    color:#fff;
    background-color: black;
    cursor: pointer;
}
.buttonDelete{
    border-radius: 10px;
    border: 1px solid black;
    background-color: #fff;
    color: black;
    margin: 5px;
}
.buttonDelete:hover{
    color:#fff;
    background-color: black;
    cursor: pointer;
}
.buttonUpdate{
    border-radius: 10px;
    border: 1px solid black;
    background-color: #fff;
    color: black;
    margin: 5px;
}
.buttonUpdate:hover{
    color:#fff;
    background-color: black;
    cursor: pointer;
}
.buttonSearch{
    border-radius: 10px;
    border: 1px solid black;
    background-color: #fff;
    color: black;
    margin: 5px;
}
.buttonSearch:hover{
    color:#fff;
    background-color: black;
    cursor: pointer;
}

.table {    
    margin: 10px;
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
}
.table th, .table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}
.table th {
    background-color: #f2f2f2;
    font-weight: bold;
}
/* Estilo para as linhas pares da tabela */
.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilo para as células de status */
.tableStatus {
    color: black;
    font-weight: bold;
    text-align: center;
}

.tableStatus.Completed {
    background-color: green;
}

.tableStatus.InProgress {
    background-color: orange;
}

.tableStatus.ToDo {
    background-color: red;
}




